<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>src/Config</directory>
    </exclude>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <html outputDirectory="coverage-report"/>
      <clover outputFile=".phpunit.cache/clover.xml"/>
    </report>
  </coverage>

  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
    <env name="AWS_S3_BUCKET" value="test-bucket"/>
    <env name="AWS_DEFAULT_REGION" value="us-east-1"/>
    <env name="S3_URL_EXPIRY_SECONDS" value="3600"/>
  </php>
</phpunit>
